.content {
    display: grid;
    grid-template-rows: 60px 500px;
    min-width: 900px;
    position: relative;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.closeIcon {
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;

    svg {
        height: 18px;
        width: 18px;
    }
}
.list {

}

.item{

}
